TAMANIO_MEMORIA_RAM=1024 
ESQUEMA_MEMORIA=SEGMENTACION       
CRITERIO_ELECCION_DE_SEGMENTO=FIRSTFIT
PAGINACION/SEGMENTACION//(String)
TAMANIO_PAGINA=8 (Numerico, tamanio en bytes)
TAMANIO_SWAP=16 (Numerico, tamanio en bytes)
PATH_SWAP= (String) ubicacion del archivo SWAP
ALGORITMO_REEMPLAZO= LRU/CLOCK
PUERTO_ESCUCHA_MIRAM=4444
 


